nav{
  background-color: #9dc40e;
}

.whitee{
  color: white !important;
}

/*MARGENES*/
.ml-10{
  margin-left: 10%;
}

.mr-10{
  margin-right: 10%;
}

.ofertas{
  height: 45vh;
  background-color: lightgray;
  position: relative;

}
.img1{
  background-image: url("../img/hack1.jpg");

  /*background-position: top center;*/
  background-size:auto;
  background-repeat: no-repeat;
  /*background-color: ;*/
  background-position: bottom center;
}
.carousel-item active{
  position: absolute;
}
.carousel-control-prev-icon{
  position: absolute;
}
.carousel-control-next-icon{
  position: absolute;
}
.provedores{
  margin-top: 10px;
}
h2.catalogo{
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}
h2.catalogo::after{
  content: '';
  margin: 0 auto;
  background-image: url("../img/plecamini.png");
  height: 30px;
  width: 100px;
  display: block;

}
.card{
  margin-top: 20px;
}
div.card p i{
  color: #007dad;;
 font-size: 1.6em;
 margin-right: 5px;
}
.modal-content {
  align-items: center;
}
button.btnLogin{
     font-family: 'Oswald', sans-serif;
     font-size: 1.4em;
     transition: all .3s ease;
     width: 100%;
     text-align: center;
     border: 2px solid   #9dc40e ;
     background-color:  #9dc40e;
     color: #ffffff ;
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 12px
  }
button.btnLogin:hover{
    background-color: #F53C1E;
    color: #ffffff;
    border: 2px solid  #F53C1E ;
}

button.btnAceptar{
     font-family: 'Oswald', sans-serif;
     font-size: 1.4em;
     transition: all .3s ease;
     width: 100%;
     text-align: center;
     border: 2px solid  #F53C1E ;
     background-color:  #F53C1E;
     color: #ffffff ;
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 12px;
}
/*div.card{
  position: relative;
  overflow: hidden;
}
div.cardImg img{
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 5s ease-out;

}
div.cardImg img:hover{
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);

}*/
/*footer p::before{

    background-image: url("../img/pleca.png");
    height: 10vh;
    background-position: top center;
    background-size:auto;
    background-repeat: no-repeat;
}*/
div.compras:{
  /*content: '';
  margin: 0 auto;
  background-image: url("../img/plecamini.png");
  display: block;*/

}
div.compras p {
color: black;

 font-size: 1.0em;
 margin-bottom: 0px;
}

div.compras p i{
  color: #007dad;;
 font-size: 1.0em;
 margin-right: 2px;
 margin-bottom: 2px;
}

button.btnCalcular{
  font-family: 'Oswald', sans-serif;
  font-size: 1.0em;
  transition: all .3s ease;
  width: 100%;
  text-align: center;
  border: 2px solid   #9dc40e ;
  background-color:  #9dc40e;
  color: #ffffff ;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px

}

button.btnCalcular:hover{
    background-color: #F53C1E;
    color: #ffffff;
    border: 2px solid  #F53C1E;
}
