<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tsóm baíl</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Tsóm baíl</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Catálogo<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Compras</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Tarjeta principal de oferta -->
  <div id="tarjeta-principal" class="container">
    <div class="card" style="width: 20rem;">
      <div class="text-center">
        <img id="img-principal" class="card-img-top img-fluid" src="../img/imagen-muestra.png" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title"> Producto</h4>
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#" id="btn-modal-producto" class="btn btn-primary"> Ver producto </a>
      </div>
    </div>
  </div>
  <!-- modal -->
  <!-- <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Tarjetas Productos -->

  <h3 class="mt-5"> Categoria 1 </h3>

  <section class="row">
    <div class="card tarjeta-products" style="col-sm-2 ">
      <div class="text-center">
        <img class="card-img-top img-fluid imgs" src="../img/imagen-muestra.png" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title"> Producto</h5>
        <p class="card-text"> Lorem ipsum dolor sit amet.</p>
        <a href="#" class="btn btn-secondary btn-sm"> Ver producto </a>
      </div>
    </div>
    <!-- 2da tarjeta -->
    <div class="card tarjeta-products" style="col-sm-2 ">
      <div class="text-center">
        <img class="card-img-top img-fluid imgs" src="../img/imagen-muestra.png" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title"> Producto</h5>
        <p class="card-text"> Lorem ipsum dolor sit amet.</p>
        <a href="#" class="btn btn-secondary btn-sm"> Ver producto </a>
      </div>
    </div>
  </section>

  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
